/********************************************
      CALENDAR BIG
  ********************************************/

.calendar-interface-container {
  height: calc(100vh - 140px);
  overflow: hidden;
}

.calendar-grid-container {
  position: relative;
  display: grid;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  /* grid-template-columns: auto 1fr; */
}

.calendar-row-labels {
  position: sticky;
  left: 0;
  height: 100%;
  font-size: 0.6rem;
  color: rgb(128, 128, 128);
  background-color: #000000;
  z-index: 5;
}

.GMT {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 48px;
  padding-right: 20px;
  align-items: center;
  font-size: 0.6rem;
  color: rgb(128, 128, 128);
  background-color: black;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  z-index: 5000;
}

.row-label {
  height: 50px;
  width: 48px;
  margin: 0;
  padding: 0;
  padding-right: 10px;
  grid-template-rows: repeat(24, 1fr);
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
}

.calendar-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: inherit;
}

.column-labels {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  background-color: #000000;
  z-index: 8;
}

.button-date-container {
  display: flex;
  align-items: center;
}

.button-date-container > label {
  margin-right: 5px;
}

.column-label {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% / 7);
  min-width: 100px;
  border-right: 1px solid rgba(128, 128, 128, 0.4);
  background-color: black;
  z-index: 8;
}

.column-label * {
  margin: 2px 0;
}

.column-label > .circle-button {
  display: flex;
  width: 46px;
  height: 46px;
  border-radius: 25px;
  flex-direction: column;
}

.column-label span {
  font-size: 0.6rem;
}

.column-label h3 {
  font-size: 1.3rem;
}

#test {
  background-color: blue;
  width: 100%;
  height: 12.5px;
  border-radius: 2px;
}

.hoursContainer {
  display: flex;
  flex-direction: row;
}

.grid-and-activities {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.weekdayHours {
  width: calc(100% / 7);
  min-width: 100px;
  position: relative;
  overflow: hidden;
}

.hour {
  position: relative;
  height: 50px;
  background-color: #000000;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  border-right: 1px solid rgba(128, 128, 128, 0.4);
  text-align: center;
}

/* ACTIVITIES */

.scheduleActivities {
  position: absolute;
  display: grid;
  overflow: hidden;
  left: inherit;
  height: 1200px;
  width: calc(100% - 48px);
  min-width: 700px;
  grid-template-columns: repeat(7, 1fr); /* One column per day */
  grid-template-rows: repeat(96, 12.5px); /* 96 quarter-hour slots per day */
  z-index: 3;
}

.activity-box {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3; /* Ensure activities are above the grid */
}
.activity-box * {
  cursor: inherit;
}

.activity-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
  width: calc(100% - 5px);
  margin-left: 5px;
  box-sizing: border-box;
  text-align: left;
  opacity: 0.9;
  z-index: 3;
}

.activity-low-heigth {
  padding: 0 5px;
  margin: 0;
}

.activity-content > div {
  display: flex;
  flex-direction: column;
}

.activity-content h4 {
  margin: 0;
  font-size: 0.8rem;
  z-index: 3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.activity-content input {
  margin-right: 5px;
}

.activity-content p {
  margin: 0;
  font-size: 0.6rem;
  z-index: 3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activity-content span {
  font-size: 0.7rem;
  width: 100%;
  text-align: end;
}

.activity-title-low-height.small-text h4 {
  font-size: 0.7rem;
}

.drag-preview {
  display: none; /* Default to hidden */
  position: absolute;
  background-color: rgba(128, 128, 128, 0.8);
  border: 1px dashed #000;
  pointer-events: none; /* Ensure it doesn't block mouse events */
  z-index: 1000; /* Make sure it's on top */
}
