/* CreateActivity.css */

.popup-content > h3 {
  width: 100%;
  margin-left: 30px;
}

.button-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
}

.button-container > * {
  margin: 10px;
}

#activity-title {
  width: 100%;
  height: 40px;
  font-size: 20px;
}

#activity-description {
  width: 100%;
}

.active {
  background-color: #3a3d42;
}

#activity-delete {
  background-color: #7b0323;
}
