.custom-repeat-overlay {
  z-index: 1000;
}

.popup-custom-repeat {
  display: flex;
  width: 400px;
  height: 500px;
  justify-content: start;
}

.popup-custom-repeat > * {
  margin: 10px;
}

.custom-repeat-num-input {
  width: 60px;
}

.weekday-buttons {
  display: flex;
  flex-direction: row;
}

.custom-end {
  width: 100%;
  padding-left: 40px;
}

.custom-repeat-end {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
