.peers {
  display: flex;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.peers > input {
  margin-bottom: 0;
  width: 80%;
}

.join-or-create {
  width: 80%;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.join-or-create > * {
  width: 100%;
  height: 35px;
}
