.popup-content > h2 {
  margin-bottom: 20px;
}

.form-this-or-all {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-this-or-all * {
  transform: scale(1.3);
  text-align: center;
  margin: 10px;
}
