.month-days {
  display: flex;
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  flex-direction: column;
  align-items: center;
}

.month-year {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month-days-header {
  width: 224px;
}

.month-days-header > h4 {
  margin-left: 10px;
}

.month-days-grid {
  display: grid;
  margin-bottom: 10px;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(7, 1fr);
  font-size: 0.7rem;
  grid-auto-flow: row;
}

.month-days-label,
.month-days-day {
  display: flex;
  height: 24px;
  width: 24px;
  margin: 3px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}

.month-days-day {
  cursor: pointer;
}

.month-days-day:hover {
  background-color: rgb(99, 99, 99);
}
